:root {
  --white: #ffffff;
  --black: #121212;

  --grey-100: #f2f2f2;
  --grey-200: #d9d9d9;
  --grey-300: #b1b1b1;
  --grey-500: #838383;
  --grey-800: #535353;

  --orange-200: #fda372;
  --orange-300: #ff8f52;
  --orange-500: #f7884c;
}
